/.idea
/src/data

.venv
remote/wl-poc.pem
notebook/binary-classification_stato_workflow/.lock_preprocessing
notebook/binary-classification_stato_workflow/ludwig/data/*
notebook/binary-classification_stato_workflow/ludwig/results/*

test_file.zip
notebook/**/*.csv
**/results_all.pkl

**/__pycache__
**/.pytest_cache
**/.lock_preprocessing
**/.ipynb_checkpoints
data/**
src/app.log
**/uvicorn.log
**/uvicorn.err.log
notebook/.ipynb_checkpoints

app.log

.coverage
htmlcov
.mono
remote/85.235.146.174/data