/.idea
/src/data

.venv
remote/wl-poc.pem
notebook/binary-classification_stato_workflow/.lock_preprocessing
notebook/binary-classification_stato_workflow/ludwig/data/*
notebook/binary-classification_stato_workflow/ludwig/results/*

test_file.zip
notebook/**/*.csv
**/results_all.pkl

**/__pycache__
**/.pytest_cache
**/.lock_preprocessing
**/.ipynb_checkpoints
data/*