attr==0.3.2
brotli==1.1.0
brotlicffi==1.1.0.0
ConfigParser==6.0.0
contextlib2==21.6.0
cryptography==42.0.4
docutils==0.20.1
fastapi==0.109.2
filelock==3.13.1
h2==4.1.0
HTMLParser==0.0.2
importlib_metadata==7.0.1
# ipython==8.21.0
# ipywidgets==8.1.2
Jinja2==3.1.3
js==1.0
keyring==24.3.0
mock==5.1.0
pandas==2.2.0
Pillow==10.2.0
protobuf==4.25.3
pyOpenSSL==24.0.0
pytest==8.0.1
python-dotenv==1.0.1
railroad==0.5.0
redis==5.0.1
simplejson==3.16.0
Sphinx==7.2.6
tornado==6.4
urllib3_secure_extra==0.1.0
httpx
pytest-cov
python-multipart
pyarrow
uvicorn
scikit-learn
flake8